---
import { siteConfig } from '../../config/site';
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/BlogCard.astro';
// import Search from '../../components/Search.astro';
import TagCloud from '../../components/TagCloud.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tags = [...new Set(posts.flatMap(post => post.data.tags))];
---

<Layout title={siteConfig.pages.blog.title}>
    <div class="grid lg:grid-cols-[1fr_300px] gap-8">
        <main>
            <div class="grid gap-6">
                {posts.map(post => (
                    <BlogCard
                        title={post.data.title}
                        description={post.data.description}
                        pubDate={post.data.pubDate}
                        updatedDate={post.data.updatedDate}
                        tags={post.data.tags}
                        url={`/blog/${post.slug}`}
                    />
                ))}
            </div>
        </main>

        <aside class="space-y-8">
            <div class="bg-cyber-light p-6 rounded-lg border border-cyber-primary space-y-6">
                <!-- <Search /> -->
                <!-- <div class="pt-6 border-t border-cyber-primary"> -->
                    <TagCloud tags={tags} />
                </div>
            </div>
        </aside>
    </div>
</Layout>