---
import { siteConfig } from '../config/site';
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';
import ContactForm from '../components/ContactForm.astro';
import '../styles/contact-form.css';

const aboutData = await getEntry('about', 'profile');
const { profile, skills, social } = aboutData.data;

// CSSのインポートを追加
import '../styles/about.css';
---

<Layout title={siteConfig.pages.about.title}>
  <div class="mb-8">
    <h2 class="heading">About Author</h2>
    <div class="profile-layout">
      <!-- プロフィール画像エリア -->
      <div class="profile-image-area">
        <img
          src={profile.image}
          alt={profile.name}
          class="profile-image"
        />
        <div class="handle-overlay">
          {profile.handle}
        </div>
      </div>   
      
      <div class="flex flex-col gap-4">

        <!-- プロフィール説明 -->
        <h3 class="cyber-text mb-2">書いている人</h3>
        <div class="thin_box">
          <p class="text-gray-300">{profile.description}</p>
        </div>
        <h3 class="cyber-text mb-2">SNS
        </h3>
        <div class="thin_box">
          {social.map(({ platform, url }) => (
          <a
            href={url}
            class="text-gray-300 hover:text-cyber-primary transition-colors"
            target="_blank"
            rel="noopener noreferrer"
          >
            {platform}
          </a>
        ))}
        </div>
      </div>
    </div>

    <!-- Skills Section -->
    <div class="mt-8">
      <h2 class="heading">Skills</h2>
      <div class="skills-grid">
        {skills.map(skill => (
          <div class="skill-category thin_box">
            <h3 class="cyber-text mb-2">{skill.category}</h3>
            <ul class="space-y-2 text-gray-300">
              {skill.items.map(item => (
                <li>{item}</li>
              ))}
            </ul>
          </div>
        ))}
      </div>
    </div>
    <!-- コンタクトフォーム -->
    <div class="mt-8">
      <h2 class="heading">Contact</h2>
      <div class="skills-grid">
        <ContactForm />
      </div>
    </div>

</Layout>
